div(class="hero-unit")
				h1 InstaJSON
				p The easiest way to get a quick JSON(-P) feed of your recent Instagram activity, perfect for embedding realtime on your sites using jQuery! Click Authorize to get started
				p 
					a(class="btn btn-primary btn-large", href="/auth") Authorize »