div(class="row")
	div(class="span12")
		p Great success! Your JSON(-P) feed is now available at 
			h1 http://instajson.herokuapp.com/feed/#{username}.json
		p Please note, even if you change your Instagram username, 
			b YOUR URL WILL REMAIN THE SAME
		p To use your URL as a JSON-P feed, just set the callback name to "callback"